build/

# Dependencies
Components/OoliteGraphics/Dependencies/libpng/
Components/OoliteGraphics/Dependencies/OpenCTM/
Oolite/Dependencies/SpiderMonkey/mozilla/
Components/OoliteSound/Mac/Dependencies/OggVorbis/libogg/
Components/OoliteSound/Mac/Dependencies/OggVorbis/libvorbis/

# Stuff found in Xcode projects
*.pbxuser
*.mode1v3
*.perspective
*.perspective3
TemplateIcon.icns
xcuserdata/
project.xcworkspace/

# OS X cruft
.DS_Store
Icon?
.LSOverride

# Windows cruft
Thumbs.db
