#include "oolite-version.inc"

// Output directory. Each project defines OOLITE_ROOT to the repository root.
// To do an out-of-repo build, change this to $(OOLITE_ROOT)/../build or similar, or an absolute path.
// NOTE: because Xcode's handling of SYMROOT tries to be clever, you must build to a path without spaces.
SYMROOT									= $(OOLITE_ROOT)/build

WARNING_CFLAGS							= -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-missing-braces

ARCHS									= i386 x86_64
VALID_ARCHS								= i386 x86_64
SDKROOT									= macosx10.6
MACOSX_DEPLOYMENT_TARGET				= 10.6
GCC_C_LANGUAGE_STANDARD					= gnu99

GCC_VERSION								= com.apple.compilers.llvm.clang.1_0

OOLITE_OPTION_MACROS					= OOLITE_MAC_OS_X=1
