#include "oolite-shared-settings.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS_CONFIG	= $GCC_PREPROCESSOR_DEFINITIONS_SHARED NDEBUG=1 OOLITE_LEAN=1
GCC_PREPROCESSOR_DEFINITIONS		= $GCC_PREPROCESSOR_DEFINITIONS_CONFIG


GCC_OPTIMIZATION_LEVEL				= 3
LLVM_LTO							= NO	// Link-time optimization. Generates a bunch of linker warnings. FIXME
GCC_ENABLE_FIX_AND_CONTINUE			= NO
GCC_AUTO_VECTORIZATION				= YES

COPY_PHASE_STRIP					= YES
DEBUG_INFORMATION_FORMAT			= dwarf-with-dsym
