#include "oolite-version.inc"

// Output directory. Each project defines OOLITE_ROOT to the repository root.
// To do an out-of-repo build, change this to $(OOLITE_ROOT)/../build or similar, or an absolute path.
// NOTE: because Xcode's handling of SYMROOT tries to be clever, you must build to a path without spaces.
// Further note: with Xcode 4, the actual build results won't end up here unless you set "Build Location" to "Place build settings in locations specified by targets" in workspace settings.
SYMROOT									= $(OOLITE_ROOT)/build/Mac/

CONFIG_SYM_ROOT							= $(SYMROOT)/$(CONFIGURATION)/
DEP_HEADER_PATH							= $(CONFIG_SYM_ROOT)/include/
OBJROOT									= $(SYMROOT)/objects


ARCHS									= i386 x86_64
VALID_ARCHS								= i386 x86_64
SDKROOT									= macosx10.6
MACOSX_DEPLOYMENT_TARGET				= 10.6
GCC_C_LANGUAGE_STANDARD					= gnu99

GCC_VERSION								= com.apple.compilers.llvm.clang.1_0

ALWAYS_SEARCH_USER_PATHS				= NO


OOLITE_DEFAULT_WARNINGS					= -Wall -Wextra -Wno-unused-parameter -Wno-missing-field-initializers -Wno-missing-braces -Wreturn-type -Wunused-variable //	-Wconditional-uninitialized
WARNING_CFLAGS							= $OOLITE_DEFAULT_WARNINGS
GCC_TREAT_WARNINGS_AS_ERRORS			= YES


GCC_PREPROCESSOR_DEFINITIONS_SHARED		= OOLITE_MAC_OS_X=1 OOLITE_VERSION="\"$OOLITE_VERSION\""

OTHER_C_FLAGS_SHARED					= -fstrict-aliasing -ffast-math
