<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>org.oolite.frameworks.oolitegraphics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>${OOLITE_VERSION}</string>
	<key>CFBundleVersion</key>
	<string>${OOLITE_VERSION}</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.oolite.ooconf</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite 2 Mesh</string>
			<key>UTTypeIdentifier</key>
			<string>org.oolite.oomesh</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OOMe</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>oomesh</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.netscape.javascript-source</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Oolite 2 Configuration File</string>
			<key>UTTypeIdentifier</key>
			<string>org.oolite.ooconf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>OOCf</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>ooconf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
